body{
	background-color: #ed421c;
    color: white;
    font-family: 'Bangers', cursive;
}
.VS{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  font-size: 110px;
  color: white;
}
@keyframes shake {
    0% { 
      font-size: 110px;
      text-shadow: 1px 1px black;
     }
   50% { 
     font-size: 120px;
     text-shadow: 3px 3px black;
      }
  100% { 
    font-size: 110px;
    text-shadow: 1px 1px black;
     }
}
.info{
  font-family: 'Lato', sans-serif;
}
.pic {
  border-radius: 50%; 
  margin: 0 auto;
}
.pic:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}